<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Nova mensagem
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input [(ngModel)]="message.title" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Conteúdo</ion-label>
      <ion-textarea [(ngModel)]="message.content"></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="submit()">Enviar</ion-button>  
</ion-content>
